@{
    ViewData["Title"] = "Page not found";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center mb-5">
    <div class="col-md-6 text-center">
        <h2 class="mb-4">Sorry, the page you're looking for doesn't exist.</h2>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to homepage</a>
    </div>
</div>