@using BookWebStore.ViewModels
@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
    bool isPrivilegedUser = User.IsInRole("Administrator") || User.IsInRole("Moderator");
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
else
{
    <div class="alert alert-danger">
        Something went wrong while processing your request. Please try again later.
    </div>
}

@* Show RequestId only is in role of an administrator or is in role of moderator *@
@if (Model.ShowRequestId && isPrivilegedUser)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to homepage</a>
