@using BookWebStore.ViewModels
@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
    bool isAdminUser = User.IsInRole("Administrator");
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3 text-danger fw-bold display-5">
    <h1 class="m-0">@ViewData["Title"]</h1>
</div>

<hr class="mb-5 border-1 border-danger" />

<div class="d-flex flex-column justify-content-center align-items-center mb-4">
    <div class="col-md-7 text-center border border-2 border-danger rounded-3 p-4 bg-danger bg-opacity-10 shadow-sm">
        <h2 class="text-danger mb-4 fw-bold">Unfortunately, something went wrong.</h2>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger mb-4 fs-5">@Model.ErrorMessage</div>
        }
        else
        {
            <div class="alert alert-danger mb-4 fs-5">
                An error occurred while processing your request. Please try again later.
            </div>
        }

        @* Show RequestId only if the user is in role of an administrator *@
        @if (Model.ShowRequestId && isAdminUser)
        {
            <div class="d-flex justify-content-center align-items-center gap-3 mb-4">
                <h5 class="fw-semibold mb-0">Request ID:</h5>
                <div class="alert alert-secondary mb-0 py-2 font-monospace small">
                    <p class="mb-0">@Model.RequestId</p>
                </div>
            </div>
        }

        <a asp-controller="Home" asp-action="Index"
           class="btn btn-primary fw-semibold px-4 py-2 rounded-pill shadow">
            <i class="fas fa-arrow-left me-1"></i> Back to homepage
        </a>
    </div>
</div>