@using BookWebStore.ViewModels
@model OrderReturnBookViewModel

@{
    ViewData["Title"] = "Return book";
}

<div class="d-flex justify-content-center align-items-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center mb-5">
    <div class="card col-md-6 p-4 mx-auto">
        <h3 class="text-center mb-4">
            Are you sure you want to return book @Model.Title from order @Model.OrderNumber?
        </h3>

        <form asp-action="ReturnBook" method="post">
            <div class="text-center">
                <input type="hidden" asp-for="OrderId" />
                <input type="hidden" asp-for="BookId" />
                <button id="delete-author" type="submit" class="w-50 btn btn-lg btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>