@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center mb-5">
    <div class="col-md-7 text-center">
        <h2 class="mb-4">Please check your email to reset your password.</h2>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Back to homepage</a>
    </div>
</div>