@using BookWebStore.ViewModels
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center mb-5">
    <div class="col-md-5">
        <h2 class="text-center mb-4">Create a new account</h2>
        @*@{
            List<ModelError> еrrors = ViewData.ModelState
            .Where(e => string.IsNullOrEmpty(e.Key))
            .SelectMany(e => e.Value.Errors)
            .ToList();
        }

        @if (еrrors.Any())
        {
            <div class="alert alert-danger text-center">
                @foreach (var error in еrrors)
                {
                    <p class="m-0">@error.ErrorMessage</p>
                }
            </div>
        }*@

        <form asp-action="Register" method="post">
            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" aria-required="true" placeholder="Please enter your first name." />
                <label asp-for="FirstName">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" aria-required="true" placeholder="Please enter your last name." />
                <label asp-for="LastName">Last Name</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Please enter your username." />
                <label asp-for="Username">Username</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter your email." />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}