@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Your password has been reset. Please, click the log in button and you will be redirected to the log in page.</p>
<a id="login" asp-action="LogIn" asp-controller="Account" class="btn btn-primary">Log in</a>