@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="d-flex justify-content-center align-items-center mb-3 mt-3">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center mb-5">
    <div class="col-md-11 text-center">
        <h2>Your password has been reset.</h2>
        <h2 class="mb-4">Please, click the log in button and you will be redirected to the log in page.</h2>
        <a asp-controller="Account" asp-action="LogIn" class="btn btn-primary btn-lg">Log in</a>
    </div>
</div>