@using BookWebStore.ViewModels
@model BlogAddViewModel

@{
    ViewData["Title"] = "Add blog";
}

<div class="d-flex justify-content-center align-items-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex flex-column justify-content-center align-items-center mb-5">
    <div class="col-md-5">
        <form asp-action="Add" method="post">
            <div class="form-floating mb-3">
                <textarea asp-for="Title" class="form-control h-auto" rows="2" placeholder="Please enter blog name."></textarea>
                <label asp-for="Title">Title*</label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ImageUrl" class="form-control" placeholder="Please enter valid image URL." />
                <label asp-for="ImageUrl">Image Link (Optional)</label>
            </div>

            <div class="form-floating mb-3">
                <textarea asp-for="Content" class="form-control h-auto" rows="10" placeholder="Please enter some text..."></textarea>
                <label asp-for="Content">Content*</label>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <button id="add-blog" type="submit" class="w-100 btn btn-lg btn-primary">Add</button>
        </form>
    </div>
</div>