@{
    ViewData["Title"] = "Delete account";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-10">
        <p>This page allows you to permanently delete your account and all associated personal data.<br /> 
            Once deleted, this action cannot be undone.
        </p>
        <a id="delete" asp-action="DeletePersonalData" asp-controller="Account" class="btn btn-danger">Delete</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}