@using Microsoft.AspNetCore.Mvc.ModelBinding
@{
    ViewData["Title"] = "Delete account";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="mx-auto w-75 mb-4" />

<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card col-md-8 p-4 shadow-lg rounded-4 border-0">
        <h4 class="mb-4 fw-semibold text-danger text-center">
            This page allows you to permanently delete your account and all associated personal data.<br />
            Once deleted, this action cannot be undone.
        </h4>
        <a asp-action="DeletePersonalData" asp-controller="Account" class="btn btn-danger btn-lg rounded-pill w-100">
            <i class="bi bi-trash me-2"></i>Delete
        </a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}