@using BookWebStore.ViewModels
@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr class="mx-auto w-75" />

<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="card col-md-7 p-4 shadow-lg rounded-4 border-0">
        <form asp-action="UpdateProfile" method="post" novalidate>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username">Username</label>
                <input type="hidden" name="Username" value="@Model.Username" />
            </div>

            @if (!string.IsNullOrEmpty(Model.CurrentPhoneNumber))
            {
                <div class="form-floating mb-3">
                    <input asp-for="CurrentPhoneNumber" class="form-control" disabled />
                    <label asp-for="CurrentPhoneNumber">Current phone number</label>
                    <input type="hidden" name="CurrentPhoneNumber" value="@Model.CurrentPhoneNumber" />
                </div>
            }

            <div class="form-floating mb-3">
                <input asp-for="NewPhoneNumber" class="form-control" placeholder="Please enter new phone number." />
                <label asp-for="NewPhoneNumber">New phone number</label>
                <span asp-validation-for="NewPhoneNumber" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary rounded-pill">
                <i class="bi bi-save2 me-1"></i> Save
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}