@{
    ViewData["Title"] = "Return Success";
}

<div class="text-center" style="margin-top: 50px;">
    <h2>You have successfully return the album @TempData["AlbumTitle"] from the order @TempData["OrderNumber"]</h2>
    <h3>Go back to the album store and make a new order</h3>
    <a asp-controller="Album" asp-action="Index" class="btn btn-primary btn-lg mt-4">Album store</a>
</div>