@using BookWebStore.ViewModels
@model GenreEditViewModel

@{
    ViewData["Title"] = "Edit genre";
}

<div class="d-flex justify-content-center align-items-center">
    <h1>@ViewData["Title"]</h1>
</div>
<hr class="mb-5" />

<div class="d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-lg rounded-4 border-0">
            <div class="card-body p-4">
                <h2 class="text-center mb-4">
                    <i class="bi bi-pencil-square text-primary me-2"></i>Update existing genre
                </h2>

                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="Id" />

                    <div class="form-floating mb-4">
                        <input asp-for="Name" class="form-control" aria-required="true" placeholder="Please enter genre name." />
                        <label asp-for="Name">Genre Name*</label>
                        <span asp-validation-for="Name" class="text-danger small"></span>
                    </div>

                    <div class="d-grid">
                        <button id="edit-genre" type="submit" class="btn btn-primary btn-lg rounded-pill">
                            <i class="bi bi-save me-2"></i>Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>